<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
       <img src="../src/assets/logo.png" class="app_logo" alt="logo">
        <span class="ml-3 text-xl">Mark-Blocks</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900 cursor-pointer btn_signUp">Sign Up</a>
        <a class="mr-5 hover:text-gray-900 cursor-pointer btn_signIn">Sign In</a>
        <a class="mr-5 hover:text-gray-900 cursor-pointer" href="#contact">Contact</a>
      </nav>
    </div>
  </header>